
<% for x in @show_crypto %>
      <% if @crypto.symbol == x["symbol"] %>
        <% crypto_name = x["name"] %><br/>
        <% crypto_rank = x["rank"] %><br/>
        <% crypto_price = number_to_currency(x["price_usd"]) %><br/>

      <% end %>
  <% end %>


<div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title"><%= crypto_name %></h3>
  </div>
  <div class="panel-body">
  <p>
  <strong>Symbol:</strong>
  <%= @crypto.symbol %>
</p>
<br/>

  <p>
  <strong>Current Market Price:</strong>
  <%= crypto_price %>
</p><br/>

  <p>
  <strong>Current Rank:</strong>
  <%= crypto_rank %>
</p><br/>


<p>
  <strong>Cost per unit paid:</strong>
  <%= number_to_currency(@crypto.cost_per) %>
</p>

<p>
  <strong>Amount owned:</strong>
  <%= @crypto.amount_owned %>
</p>
  </div>
  <div class="panel-footer">

  <%= link_to 'Edit', edit_crypto_path(@crypto), class:'btn btn-warning' %> |
<%= link_to 'Delete', crypto_path(@crypto), method: :delete, data: { confirm: 'Are you sure?' } , class:'btn btn-danger' %> |
<%= link_to 'Back', cryptos_path , class:'btn btn-primary' %>
  </div>
</div>




